/IAR ARM - Default/
/IAR ARM - RUTLEDGE_SERIAL RFTAG (DEBUG)/
/IAR ARM - RUTLEDGE_SERIAL RFTAG/
/IAR ARM - RUTLEDGE_SERIAL/
/IAR ARM - SILABS_SERIAL DEBUG/
/IAR ARM - SILABS_SERIAL/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.txt
*.bat
*.py
*.orig
